body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
html{
  font-size: 62.5%;
}
.app {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 900px; */
}

.search {
  padding: 1rem;
  font-size: 2rem;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 1rem 0px;
  border-spacing: 1.5rem;
  color: #444;
}

tr {
  margin-bottom: 2rem;
}

th {
  width: 10rem;
  text-align: left;
  font-size: 2rem;
  padding: .8rem 2px;
  border-radius: .5rem;
  background-color: rgb(120, 180, 240); color:#fff;
  color: #444;
}

td {
  width: 10rem;
  font-size: 2rem;
  padding: .8rem 2px;
  border-radius: .5rem;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #f88a8a}
input{
  width: 90%;
  border-radius: 1rem;
}
@media screen and (max-width:500px){
  html{
    font-size: 40%;
  }
}